/node_modules
/public/hot
/public/uploads
/bootstrap/cache
/public/node_modules
/public/package-lock.json
/storage/*.key
/storage
/vendor
/.idea
/.vagrant
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
